@font-face {
    font-family: 'trend_sansone';
    src: url('../Fonts/trend-sans-one-webfont.woff2') format('woff2'),
    url('../Fonts/trend-sans-one-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarell_bold';
    src: url('../Fonts/cantarell-bold-webfont.woff2') format('woff2'),
    url('../Fonts/cantarell-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarell_regular';
    src: url('../Fonts/cantarell-regular-webfont.woff2') format('woff2'),
    url('../Fonts/cantarell-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arial_narrow';
    src: url('../Fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    margin: 0 auto;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 42% 20% auto;
    grid-template-rows: 18% auto 10%;
    grid-template-areas: "header header header header" ". main sidebar ." "footer footer footer footer";
}

header {
    display: grid;
    grid-area: header;
    grid-template-columns: 100%;
    grid-template-rows: 60% auto;
    grid-template-areas: "logo" "nav";
}

.logo {
    display: flex;
    font-family: 'trend_sansone';
    font-size: 38px;
    text-transform: uppercase;
    color: #6794b7;
    grid-area: logo;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 57px;
    width: 57px;
    background: #6794b7;
    border: 0px solid #6794b7;
    border-radius: 50%;

}

nav {
    background: #6b9ad0;
    grid-area: nav;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 9%);
    justify-content: center;
    align-items: stretch;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav a {
    line-height: 300%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: "arial_narrow";
    font-size: 18px;
    text-align: center;
}

.main {
    grid-area: main;
}





.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
}
